

body {

.container1{
  text-align: center;
  background: url(Londonsky.jpg);
  webkit-background-size: cover;
  moz-background-size: cover;
  background-position: center;
}
.container2{
  text-align: center;
  list-style-position: inside;
  margin-top: 15px;
  #element1 {float:left;
    #element2 {padding-left : 20px; float:left;
}
}
.container3{
  text-align: center;
  list-style-position: inside;
  margin-top: 15px;
  #element1 {float:left;
    #element2 {padding-left : 20px; float:left;
}

}
.ol{
  text-align: center;
  list-style-position: inside;
  margin-top: 15px;
}
.container4{
  text-align: center;
  list-style-position: inside;
  margin-top: 15px;
  #element1 {float:left;
    #element2 {padding-left : 20px; float:left;
}

.signup{
  text-align: center;
}
.social{
  text-align: center;
}
}
